{% extends "_base.html" %}
{% import "macros/_css.html" as css %}

{% block css -%}{{ css.render_css('main') }}{%- endblock %}

{% set active_page = active_page|default('index') -%}

{% set navigation_bar = [
    ('frontend.index', 'index', 'Overview'),
    ('players.draft', 'draft', 'Draft'),
] -%}

{% set players_bar = [
    ('players.index', 'players', '2014 Stats'),
    ('players.projections', 'projections', 'Projections'),
    ('players.zscore', 'zscore', 'Z Scores'),
] -%}

{% set price_bar = [
    ('frontend.plot','price', 'plot_price', 'Total Price Plot'),
    ('frontend.plot','price_big', 'plot_price_big', 'Joe Price Plot'),
] -%}

{% set plot_bar = [
    ('frontend.plot','all', 'plot_all', 'Total Z Score'),
    ('frontend.plot','big', 'plot_big', ' Joe Z Score'),
    ('frontend.plot','diff', 'plot_diff', 'Diff Z Score'),
] -%}


    {%- block siteheader %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container-fluid">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/">Fantasy Basketball</a>
           </div>
           <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url_for('players.draft', update=True, next=request.url_root)}}" data-no-instant>Draft Update</a></li>
             </ul>
             <form class="navbar-form navbar-right" action="{{url_for('frontend.form')}}" method="Post">
                <input type="text" id="player-search" class="typeahead form-control"
                        placeholder="Find a player...">
                <input type="text" name="player-name" id="player-name" style="display:none"/>
                <input type="submit" style="display:none"/>
             </form>
           </div>
         </div>
        </div>
    {%- endblock siteheader -%}

    {%- block sidebar %}
        <div class="sidebar col-sm-3 col-md-2">
            <ul class="nav nav-sidebar">
            {% for route, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif
                    %}><a href="{{url_for(route)}}">{{ caption }}</a>
                </li>
            {%endfor%}
            <li><h4>Prices</h4></li>

            {% for route, var, id, caption in price_bar %}
              <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{url_for(route, name=var)}}">{{ caption |safe}}</a>
              </li>
            {%endfor%}

            <li><h4>Z Score Plots</h4></li>
            {% for route, var, id, caption in plot_bar %}
                <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{url_for(route, name=var)}}">{{ caption |safe}}</a>
                </li>
            {%endfor%}

            <li><h4>Player Tables</h4></li>
            {% for route, id, caption in players_bar %}
                <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{url_for(route)}}">{{ caption }}</a>
                </li>
            {%endfor%}
            </ul>
        </div>
    {%- endblock sidebar %}

    {% block sitefooter %}
    {%- endblock sitefooter %}

{%- block footer_js %}
{%- endblock footer_js %}
