{% extends "_base.html" %}
{% import "macros/_css.html" as css %}

{% block css -%}{{ css.render_css('main') }}{%- endblock %}

{% set navigation_bar = [
    ('frontend.index', 'index', 'Overview'),
    ('players.index', 'players', 'Players'),
] -%}

{% set active_page = active_page|default('index') -%}

    {%- block siteheader %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container-fluid">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#">Fantasy Basketball</a>
           </div>
           <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Dashboard</a></li>
             </ul>
             <form class="navbar-form navbar-right">
               <input type="text" class="form-control" placeholder="Search...">
             </form>
           </div>
         </div>
        </div>
    {%- endblock siteheader -%}

    {%- block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          {% for route, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif
                %}><a href="{{url_for(route)}}">{{ caption }}</a>
            </li>
          {%endfor%}
        </ul>
        <ul class="nav nav-sidebar">
          <li><h4>Charts</h4></li>
          <li><a href="">Nav item</a></li>
          <li><a href="">Nav item again</a></li>
          <li><a href="">One more nav</a></li>
          <li><a href="">Another nav item</a></li>
          <li><a href="">More navigation</a></li>
        </ul>
    </div>
    {%- endblock sidebar %}

    {% block sitefooter %}
    {%- endblock sitefooter %}

{%- block footer_js %}
{%- endblock footer_js %}
