{% extends "frontend/_base.html" %}

{% set num_players = 10 %}

{%- block content -%}
    <h1 class="page-header">Dashboard</h1>

    <div class="row">
        <h4>Players Left (Total: {{data.undraft|length}})</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: {{data.percent.pg}}%">
                {{data.pg_undraft|length}}
            </div>
            <div class="progress-bar progress-bar-primary" style="width: {{data.percent.sg}}%">
                {{data.sg_undraft|length}}
            </div>
            <div class="progress-bar progress-bar-success" style="width: {{data.percent.sf}}%">
                {{data.sf_undraft|length}}
            </div>
            <div class="progress-bar progress-bar-info" style="width: {{data.percent.pf}}%">
                {{data.pf_undraft|length}}
            </div>
            <div class="progress-bar progress-bar-warning" style="width: {{data.percent.c}}%">
                {{data.c_undraft|length}}
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-4">
          <h5>Current $/Total Z Score</h5>
          <span class="text-muted">${{data.dol_tot|round(2)}}</span>
          <h5>Current. $/Big Z-Score</h5>
          <span class="text-muted">${{data.dol_big|round(2)}}</span>
            <h5>Projected $/Total Z Score</h5>
            <span class="text-muted">${{data.proj_dol_tot|round(2)}}</span>
            <h5>Projected. $/Big Z-Score</h5>
            <span class="text-muted">${{data.proj_dol_big|round(2)}}</span>
        </div>
          <div class="col-sm-4">
            <h4>Top {{num_players}} Players Left</h4>
            {% for player in data['undraft'][:num_players] %}
                <div class="row">
                  <span class="col-sm-1">{{player.rank}}:</span>
                  <span class="col-sm-8">{% include 'partials/_player.html' %}</span>
                  {%set extra_pos_class="col-sm-2"%}
                  {% include 'partials/_pos_label.html' %}
                </div>
            {% endfor %}
          </div>
        <div class="col-sm-4">
          <h4>Top {{num_players}} Players Left (BIG)</h4>
          {% for player in data['undraft'].order_by('rank_big')[:num_players] %}
              <div class="row">
                <span class="col-sm-1">{{player.rank_big}}:</span>
                <span class="col-sm-8">
                    <a href="{{url_for('players.player', name=player.name)}}">
                        {{player.name}}
                    </a>
                </span>
                {%set extra_pos_class="col-sm-2"%}
                {% include 'partials/_pos_label.html' %}
              </div>
          {% endfor %}
        </div>
    </div>


{%- endblock -%}
