{% extends "frontend/_base.html" %}
{% set active_page = "draft" %}
{% block title %}Drafted Players - Fantasy Basketball{% endblock title %}
{%- block content -%}
    <div class="page-header">
    <h1>Drafted Players
        <small>
        <a href="{{url_for('players.draft_update')}}" data-no-instant>(Update Data)</a>
        </small>
    </h1>
    </div>
    <table class="table table-magic table-striped table-hover table-fixed-header">
        <thead class="header">
        <tr>
            <th>Rank</th>
            <th class="hidden">Drafted</th>
            <th>PLAYER</th>
            <th>POSITION</th>
            <th>PRICE</th>
            <th>$P Tot</th>
            <th>$P Joe</th>
            <th>$/Tot Z</th>
            <th>$/Joe Z</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
    {% for player in players %}
        <tr>
            <td>{{player.rank}}</td>
            <td>{% include 'partials/_drafted.html' %}</td>
            <td>{% include 'partials/_player.html' %}</td>
            <td>{% include 'partials/_pos_label.html' %}</td>
            <td>${{player.price}}</td>
            <td>${{player.proj_cost_tot|round(1)}}</td>
            <td>${{player.proj_cost_big|round(1)}}</td>
            <td>${{player.dollar_tot_zscore|round(2)}}</td>
            <td>${{player.dollar_big_zscore|round(2)}}</td>
            <td>{{player.owner}}</td>
        </tr>
    {% endfor %}
        </tbody>
  </table>
{%- endblock -%}
