{% extends "frontend/_base.html" %}

{%- block content -%}

    <div class="page-header">
    <h1>{{player.name}} <small>
        {% if player.pos == 'PG' %}
        <span class="label label-danger">{{player.pos}}</span>
        {% elif player.pos == 'SG' %}
        <span class="label label-primary">{{player.pos}}</span>
        {% elif player.pos == 'SF' %}
        <span class="label label-success">{{player.pos}}</span>
        {% elif player.pos == 'PF' %}
        <span class="label label-info">{{player.pos}}</span>
        {% elif player.pos == 'C' %}
        <span class="label label-warning">{{player.pos}}</span>
        {% endif %}
     ({{player.team.name}})</small></h1>
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Data</th>
            {% for key, item in  player.sorted_stats %}
                <th>{{key}}</th>
            {% endfor %}
        <tr>
            <th>2015 AVG Projections</th>
            {% for key, item in player.sorted_proj %}
                <td>{{item|round(2)}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>2014 Stats</th>
            {% for key, item in player.sorted_stats %}
                <td>{{item|round(2)}}</td>
            {% endfor %}
        </tr>
  </table>
{%- endblock -%}
