{% extends "frontend/_base.html" %}
{% set active_page = "zscore" %}

{% block title %}Z Scores - Fantasy Basketball{% endblock title %}
{%- block content -%}

    <div class="page-header">
    <h1>Z Scores <small>{{players|length}} Players</small></h1>
    </div>


    <!-- Nav tabs -->
    <ul class="nav nav-pills header-tab" role="tablist">
      <li class="active"><a href="#totals" role="tab" data-toggle="tab">Total Z Scores</a></li>
      <li><a href="#categories" role="tab" data-toggle="tab">Categories</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade active in" id="totals">
            <table class="table table-magic table-striped table-hover table-fixed-header">
                <thead class="header">
                <tr>
                    <th>Rank</th>
                    <th class="hidden">Drafted</th>
                    <th>PLAYER</th>
                    <th>POSITION</th>
                    <th>TEAM</th>
                    <th>Tot Z</th>
                    <th>Joe Z</th>
                    <th>$P T</th>
                    <th>$P J</th>
                    <th>$L T</th>
                    <th>$L J</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr class="{% if not player.drafted %}info{%endif%}">
                    <td>{{player.rank}}</td>
                    <td>{% include 'partials/_drafted.html' %}</td>
                    <td>{% include 'partials/_player.html' %}</td>
                    <td>{% include 'partials/_pos_label.html' %}</td>
                    <td>{{player.team.name|upper}}</td>
                    <td>{{player.tot_zscore|round(2)}}</td>
                    <td>{{player.big_zscore|round(2)}}</td>
                    <td>${{player.proj_cost_tot|round(2)}}</td>
                    <td>${{player.proj_cost_big|round(2)}}</td>
                    <td>${{player.live_cost_tot|round(2)}}</td>
                    <td>${{player.live_cost_big|round(2)}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="categories">
          <table class="table table-magic table-striped table-hover table-fixed-tab-header">
              <thead class="header">
              <tr>
                  <th>Rank</th>
                  <th>Drafted</th>
                  <th>PLAYER</th>
                  <th>POSITION</th>
                  {% for key, val in players[0].sorted_zscores %}
                  <th>{{key}} Z Score</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
          {% for player in players %}
              <tr class="{% if not player.drafted %}info{%endif%}">
                  <td>{{player.rank}}</td>
                  <td>{% include 'partials/_drafted.html' %}</td>
                  <td>{% include 'partials/_player.html' %}</td>
                  <td>{% include 'partials/_pos_label.html' %}</td>
                  {% for key, val in player.sorted_zscores %}
                  <td>{{val|round(2)}}</td>
                  {% endfor %}
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{%- endblock -%}
